body {
  cursor: none;
}

#root {
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.cursor {
  width: 21px;
  height: 21px;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("DefenseMarchCassette/Cursor/cursor.png");
  position: fixed;
  z-index: 9999;
}

body:has([data-hoverable="pointer"]:hover) .cursor {
  background-image: url("DefenseMarchCassette/Cursor/cursor_pointer.png");
}

body:has([data-hoverable="grab"]:hover) .cursor {
  background-image: url("DefenseMarchCassette/Cursor/cursor_grabable.png");
}

body:has([data-hoverable="grab"]:active) .cursor {
  background-image: url("DefenseMarchCassette/Cursor/cursor_grabbing.png");
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cassette-transition {
  transition: transform var(--transition-duration) ease-out;
  transform: translateY(var(--slide-distance)); 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}